<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <div th:replace="fragments/header :: header">
        <h1> THIS IS A DEFAULT HEADER</h1>
    </div>
    <ul>
        <li th:each="card : ${cardList}">
            <div>
                <img th:src="${card.imgUrl}" alt="">
                <h3 th:utext="${card.name}">...</h3>
                <div th:style="'background-color:'+${card.color}">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt.</p>
                </div>
                <h5 th:text="'Color:  '+${card.color}">...</h5>
                <h5 th:text="'SuperPower:  '+${card.superPower}">...</h5>
            </div>
        <li>
    </ul>
</body>

</html>