<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <div th:replace="fragments/header :: header">
        <h1> THIS IS A DEFAULT HEADER</h1>
    </div>
    <div class="uk-container">
        <div style="display: flex; align-items: center;">
            <div class="uk-width-1-2@m" uk-grid>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img class="mx-auto d-block" th:src="${myCard.imgUrl}" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title" th:utext="${myCard.name}">...</h3>
                            <p th:utext="${myCard.description}">...</p>

                            <div class="row">
                                <div class="col-6">
                                    <h5 th:text="'HP:  '+${myCard.hp}">...</h5>
                                    <h5 th:text="'Attack:  '+${myCard.attack}">...</h5>
                                </div>
                                <div class="col-6">
                                    <h5 th:text="'Energy:  '+${myCard.energy}">...</h5>
                                    <h5 th:text="'Defense:  '+${myCard.defense}">...</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</body>

</html>