<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body>
    <div th:replace="fragments/header :: header">
        <h1> THIS IS A DEFAULT HEADER</h1>
    </div>
    <div class="uk-container">
        <form th:action="@{/addCard}" th:object="${cardForm}" method="POST">
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Name :</label>
                <div class="uk-form-controls">
                    <input class="uk-input" name="name" type="text" placeholder="Name..." th:field="*{name}" />
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Description :</label>
                <div class="uk-form-controls">
                    <textarea class="uk-textarea" name="description" type="text" placeholder="Description..."
                        th:field="*{description}"></textarea>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Image URL</label>
                <div class="uk-form-controls">
                    <input class="uk-input" name="imageUrl" type="text" th:field="*{imgUrl}"
                        placeholder="Image url..." />
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Family</label>
                <div class="uk-form-controls">
                    <select name="family" th:field="*{family}" class="uk-select">
                        <option th:value="''" th:text="Dwarf"></option>
                        <option th:value="''" th:text="Gnome"></option>
                        <option th:value="''" th:text="Human"></option>
                        <option th:value="''" th:text="NightElf"></option>
                        <option th:value="''" th:text="Worgen"></option>
                    </select>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Affinity</label>
                <div class="uk-form-controls">
                    <select name="affinity" th:field="*{affinity}" class="uk-select">
                        <option value="Fire">Fire</option>
                        <option value="Water">Water</option>
                        <option value="Elecricity">Elecricity</option>
                    </select>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">HP</label>
                <div class="uk-form-controls">
                    <div class="uk-margin">
                        <input class="uk-range" th:field="*{hp}" type="range" name="hp" value="4" min="0" max="100"
                            step="1">
                    </div>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Energy</label>
                <div class="uk-form-controls">
                    <div class="uk-margin">
                        <input class="uk-range" type="range" th:field="*{energy}" name="energy" value="4" min="0"
                            max="100" step="1">
                    </div>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Attack</label>
                <div class="uk-form-controls">
                    <div class="uk-margin">
                        <input class="uk-range" name="attack" th:field="*{attack}" type="range" value="4" min="0"
                            max="100" step="1">
                    </div>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Defense</label>
                <div class="uk-form-controls">
                    <div class="uk-margin">
                        <input class="uk-range" name="defense" th:field="*{defense}" type="range" value="4" min="0"
                            max="100" step="1">
                    </div>
                </div>
            </div>
            <div>
                <input type="submit" class="uk-button uk-button-default" value="Create" />
            </div>
        </form>
    </div>

</body>

</html>