<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <!-- Latest compiled and minified CSS -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <div th:replace="fragments/header :: header">
        <h1 class="text-center"> THIS IS A DEFAULT HEADER</h1>
    </div>
    <h1>Welcome</h1>
    <h2 th:utext="${message}">..!..</h2>
    <div>
        <img class="uk-comment-avatar" src="/img/img1.jpeg" width="80" height="80" alt="">
        <h4>
            <a href="#" th:utext="${message}">...</a>
        </h4>
        <ul>
            <li><a href="#">First Introduction</a></li>
            <li><a href="#">More Info</a></li>
        </ul>
    </div>
    <div>
        <p th:utext="${messageLocal}">...</p>
    </div>
    <div>
        <ul>
            <li><a href="/view"><img src="/img/img2.jpeg" width="100" alt="">Display</a></li>
            <li><a href="/addCard"><img src="/img/img3.jpeg" width="100" alt="">Add</a></li>
            <li><a href="/list"><img src="/img/img4.jpeg" width="100" alt="">List</a></li>
        </ul>
    </div>
</body>

</html>